@import './styles/reset.scss';

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-columns: 2fr 8fr 2fr;
    background-color: #000000e8;
    
    nav {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    
    #canvas-container {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
        width: 100%;
        height: 100%;
        border: 4px solid grey;
        border-style: inset;
        border-radius: 6px;
        #canvas {
            background-color: #c6b2b2;
            display: block;
        }
    }

    footer {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 4;
    }

}




    